body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 10px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

input[type=text] {
    border-radius: 5px;
    padding: 5px;
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;
    border: 1px solid silver;
}

ul {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
}

ul li {
    display: block;
    padding: 5px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #999;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #f1f1f1;
}

ul li a {
    color: #999;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

ul li a:hover {
    text-decoration: underline;
}